{% extends 'base.html' %}

{% block title %}Вхід{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card">
            <div class="card-body">
                <h3 class="text-center mb-4">🔐 Вхід</h3>

                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <button class="btn btn-primary w-100 mt-3">
                        Увійти
                    </button>
                </form>

                <p class="text-center mt-3">
                    Немає акаунта?
                    <a href="{% url 'signup' %}">Зареєструватися</a>
                </p>

            </div>
        </div>
    </div>
</div>
{% endblock %}

