{% extends 'base.html' %}
{% block title %}Видалення коментаря{% endblock %}

{% block content %}
<div class="card p-4 mx-auto" style="max-width:520px;">
    <h4 class="mb-2">🗑️ Видалити коментар</h4>

    <p class="small-muted mb-3">
        Ви дійсно хочете видалити цей коментар?
    </p>

    <div class="card p-3 mb-3">
        {{ comment.text }}
    </div>

    <form method="post">
        {% csrf_token %}
        <div class="d-flex justify-content-between">
            <a href="{{ comment.post.get_absolute_url }}" class="btn btn-outline-secondary">
                ← Скасувати
            </a>
            <button class="btn btn-danger">
                Видалити
            </button>
        </div>
    </form>
</div>
{% endblock %}
