{% extends 'base.html' %}
{% block title %}Реєстрація{% endblock %}

{% block content %}
<div class="card p-4 mx-auto" style="max-width:520px;">
    <h3 class="mb-3 text-center">Реєстрація</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="mb-3">
            {{ form.username.label_tag }}
            {{ form.username }}
        </div>
        <div class="mb-3">
            {{ form.password1.label_tag }}
            {{ form.password1 }}
        </div>
        <div class="mb-3">
            {{ form.password2.label_tag }}
            {{ form.password2 }}
        </div>

        <button class="btn btn-success w-100">Створити акаунт</button>
    </form>

    <p class="text-center small-muted mt-3">Вже є акаунт? <a href="{% url 'login' %}">Увійти</a></p>
</div>
{% endblock %}
